body {
	background-image: url(/assets/index1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	background-color: rgba(0,0,0,.2);
	padding: 20px;
	color: white;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 100;
	font-size: 3em;
}